body {
    background-color: #cccccc29;
}

.users-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
}

.form-container {
    width: 100%;
    min-height: 100vh;
    background-color: #0001;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.disable__form {
    display: none;
}

.App__container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.App__btn {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: #555a88;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 150ms ease, box-shadow 150ms ease;
}

.App__btn:hoover {
    transform: scale(1.04);
    box-shadow: 0 0 10px #0005;
    transition: transform 150ms ease, box-shadow 150ms ease;
}